{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">

  <div class="sidebar">
    <h3>Following:</h3>
    <ul>
      {% if following_list %}
      {% for following in following_list %}
      <a href="{% url 'user_details' following.id %}"><li>{{following.full_name}}</li></a>
      {% endfor %}
      {% else %}
      <h4>You are not following anyone</h4>
      {% endif %}
    </ul>
    <h3>Followers:</h3>
    <ul>
      {% if followers %}
      {% for follower in followers %}
      <a href="{% url 'user_details' follower.follower.id %}"><li>{{follower.follower.full_name}}</li></a>
      {% endfor %}
      {% else %}
      <h4>You don't have any followers</h4>
      {% endif %}
    </ul>

    <h3>People You may Know</h3>
    <div class="people-you-may-know">
      {% for profile in user_profiles %}
      {% if not profile.user == request.user %}
      <div class="single-person">
        <a href="{% url 'user_details' profile.user.id %}"><h5>{{profile.user.full_name}}</h5></a>
        {% if profile.profile_picture %}
        <img src="{{profile.profile_picture.url}}" class="single-person-image img-circle" alt="" />
        {% else %}
        <img src="{% static 'images/avatar.svg' %}" class="single-person-image img-circle" alt="" />
        {% endif %}
        <a href="{% url 'follow' profile.user.id %}" class="myButton">Follow</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>


  </div>

  <div class="mainfeed">
    <div class="post-form">
      <form action="{% url 'thinking' %}" method="POST">
        {% csrf_token %}
        <textarea
          name="thinking"
          id="thinking"
          cols="30"
          rows="10"
          class="thinking"
          placeholder="What are you thinking about?"
        ></textarea>
        <button type="submit" class="myButton">Post</button>
      </form>
      <div class="posts">

        <!-- <i class="fa fa-user" style="color: black"></i> -->
        {% for post in posts %}
        <div class="single-post">
          <div class="user-image">
            {% if post.profile_picture %}

            <img
              src="media/{{post.profile_picture}}"
              class="img-circle"
              style="width:50px; margin-left:5px; margin-right:10px"
              alt=""
            />
            {% else %}
            <img
              src="{% static 'images/avatar.svg' %}"
              class="img-circle"
              style="width:50px; margin-left:5px; margin-right:10px"
              alt=""
            />
            {% endif %}
            <h5>{{post.user.first_name}}</h5>
          </div>
          <div class="date-caption">
            <p>{{post.created_at}}</p>
            {% if post.thinking %}
            <a  style="color:black"><p>{{post.thinking}}</p></a>
            {% else %}
            <a href="{% url 'post_details' post.id %}" style="color:black"><p>{{post.caption}}</p></a>
            {% endif %}
          </div>
          {% if not post.thinking %}
          {% if post.mypost.url|lower|slice:"-4:" == ".mp4" or post.mypost.url|lower|slice:"-4:" == ".mkv" %}
          <video class="post-video" controls>
            <source src="{{post.mypost.url}}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          {% else %}
          <img src="{{post.mypost.url}}" alt="" />
          {% endif %}
          <div class="like-comment">

            {% if post.liked %}
            <a href="{% url 'unlike_post' post.id %}">
              <i class="fa fa-thumbs-down myIcons" style="color: rgb(219, 117, 0);"></i>
            </a>
            {% else %}
            <a href="{% url 'like_post' post.id %}">
              <i class="fa fa-thumbs-up myIcons"></i>
            </a>
            {% endif %}
            <form action="{% url 'comment' post.id %}" method="POST">
              {% csrf_token %}
              <label for="comment">Comment on this Post</label>
              <textarea
                class="comment"
                name="comment"
                id="comment"
                cols="30"
                rows="1"
              ></textarea>
              <button type="submit" class="myButton">Comment</button>
            </form>
          </div>
          <button type="button" class="myButton" data-toggle="modal" data-target="#modal_{{post.id}}">Likes</button>

  <!-- Modal -->
        <div class="modal fade" id="modal_{{post.id}}" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liked By</h4>
              </div>
              <div class="modal-body">
                {% for like in post.like_set.all %}
                  <h4>{{ like.liked_by.first_name }}</h4>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

           <button type="button" class="myButton" data-toggle="modal" data-target="#modal_c{{post.id}}">Comments</button>

  <!-- Modal -->
          <div class="modal fade" id="modal_c{{post.id}}" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comments</h4>
              </div>
              <div class="modal-body">
                {% for c in post.comment_set.all|dictsort:"created_at" %}
                <h4>{{c.commentor.first_name}}:</h4> <p>{{c.comment}}</p>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
          {% endif %}
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
$('[data-toggle="popover"]').popover();
});
$(document).ready(function() {
    // Get the content from the hidden div
    var likedContent = $('#liked-content').html();

    // Set the data-content attribute of the h4 element
    $('h4[data-bs-content-id="liked-content"]').attr('data-content', likedContent);
  });
</script>
{% endblock %}
